<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>26</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>25</string>
					<key>Timestamp</key>
					<string>787784848.031516</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>BranchToDo/Views/ListView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                } else {
</string>
				<key>leading</key>
				<string>                            viewModel.isEditing = false
                        }
</string>
				<key>trailing</key>
				<string>                    ToDoItemView(todo: todo, onToggleCompletion: {
                        viewModel.toggleTodoCompletion(todo)
                    })
</string>
			</dict>
			<key>title</key>
			<string>Title shouldn't be an optional. I changed this in CoreData Model</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>125</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>124</string>
					<key>Timestamp</key>
					<string>787772189.638744</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>BranchToDo/Views/ListVM.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                addTodo(todo)
</string>
				<key>leading</key>
				<string>            
            for todo in todos {
</string>
				<key>trailing</key>
				<string>            }
            
            saveViewContext()
</string>
			</dict>
			<key>title</key>
			<string>Surface Errors to the user</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>54</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>53</string>
					<key>Timestamp</key>
					<string>787880233.575738</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>BranchToDo/Data/Persistence.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                fatalError("Unresolved error \(error), \(error.userInfo)")
</string>
				<key>leading</key>
				<string>                 Check the error message to determine what the actual problem was.
                 */
</string>
				<key>trailing</key>
				<string>            }
        })
        container.viewContext.automaticallyMergesChangesFromParent = true
</string>
			</dict>
			<key>title</key>
			<string>Fix Fatal Error</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
